.task-card {
  display: flex;
  width: 36.875rem;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 1rem;
  border: 2px solid var(--blue);
  background:
    linear-gradient(
      181deg,
      rgba(255, 255, 255, 0) 89%,
      rgba(46, 32, 82, 0.2) 100%
    ),
    var(--white);
}

.task-card h1 {
  color: var(--blue);
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

.task-card-title {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.task-card-description {
  margin: 0;
  color: var(--blue);
  line-height: 1.5rem;
}

.divider {
  border-top: 0.0625rem solid var(--light-gray);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.task-card-buttons {
  display: flex;
  width: 6rem;
  height: 2.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
