@if (task(); as task) {
  <section class="task-card">
    <h1>id: #{{ task.id | number: "3.0-0" }}</h1>
    <div class="task-card-title">{{ task.title }}</div>
    <p class="task-card-description">{{ task.description }}</p>
    <hr class="divider" />
    <div class="task-card-footer">
      <div>
        <mat-slide-toggle
          [ngModel]="task.status"
          (click)="changeStatus.emit(task)"
          >{{ task.status | trackStatus }}</mat-slide-toggle
        >
      </div>
      <div class="task-card-buttons">
        <button matMiniFab (click)="edit.emit(task)">
          <mat-icon fontIcon="edit" />
        </button>
        <button matMiniFab (click)="delete.emit(task)">
          <mat-icon fontIcon="delete" />
        </button>
      </div>
    </div>
  </section>
}
