/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --dark-purple: #2e2052;
  --blue: #2d6bfa;
  --light-purple: #cac1e2;
  --very-light-purple: #f4f0ff;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
}
