@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.fab-overrides(
    (
      small-container-color: var(--blue),
      small-foreground-color: var(--white),
    )
  );
  @include mat.button-overrides(
    (
      filled-container-shape: 8px,
      filled-label-text-size: 16px,
      filled-label-text-weight: 700,
      filled-label-text-font: Inter,
      filled-container-color: var(--blue),
      filled-label-text-color: var(--white),
      text-label-text-size: 16px,
      text-label-text-weight: 700,
      text-label-text-font: Inter,
    )
  );
}
